<div class="dropdown">
  <div class="head">
    <p>Helló</p>
    <p class="name">{{ user.username }}</p>
  </div>
  <div class="content">
    <mat-nav-list>
      <a mat-list-item [matMenuTriggerFor]="changeView">Nézet: {{ user.view === views.CARDS ? 'kompakt' : 'lista' }}</a>
      <mat-menu #changeView>
        <button mat-menu-item (click)="setCardsView()">Kompakt</button>
        <button mat-menu-item (click)="setInlineView()">Lista</button>
      </mat-menu>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="logout()">Kijelentkezés</a>
    </mat-nav-list>
  </div>
</div>
