@import "../../../scss/variables";

.head {
  background-color: $white-smoke;
  padding: 20px;

  .name {
    margin-top: 8px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.notifications-toggle {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 230px;
  padding: 0 16px;
  margin-bottom: -6px;
}

.mat-nav-list .mat-list-item.quiet-time {
  height: 110px;
}

.quiet-time-input {
  width: 100px;
  margin-bottom: -1em;
}
