<button mat-button (click)="markAllSeen()" *ngIf="user && areUnseenEstates" class="mark-all-seen">
  Mind megnézettnek jelöl
</button>

<button mat-button *ngIf="user" (click)="toggleView()" class="view-button">
  {{ view === views.CARDS ? 'Kompakt' : 'Lista' }} nézet
</button>

<div #estateContainer>
  <div *ngIf="view === views.INLINE" class="inline-container">
    <div *ngFor="let estate of estates">
      <app-estate [estate]="estate" [inline]="true"></app-estate>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div *ngIf="view === views.CARDS" class="o-container">
    <div *ngFor="let row of estatesGrid" class="o-row">
      <div *ngFor="let estate of row" class="o-column xs--12 sm--4">
        <app-estate-card [estate]="estate"></app-estate-card>
      </div>
    </div>
  </div>
</div>
<mat-spinner *ngIf="!exhausted" class="loading-spinner"
             in-viewport (inViewportAction)="loadMoreEstates($event)" [inViewportOptions]="{ partial: false }">
</mat-spinner>
<p *ngIf="exhausted">Nem található több ingatlan a feedben!</p>
