:host {
  display: block;
  text-align: center;
}

.mark-all-seen {
  margin: 20px 0;
}

.o-container {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
}

.o-row {
  width: 100%;
}

.o-column {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .o-column.sm--4 {
    max-width: 33.3%;
  }
}

app-estate {
  display: block;
  text-align: left;
}

.loading-spinner {
  margin: 10px auto;
}
