.card {
  max-width: 1200px;
  margin: 15px auto;
  position: static;
}

.estate-details {
  display: flex;
  flex-flow: row wrap;

  .estate-details-content {
    display: flex;
  }
}

.estate-data {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;

  .header {
    margin-right: 20px;

    p {
      margin-top: -8px;
      margin-bottom: 16px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  table {
    width: 100%;
    padding: 0 20px 0 10px;
    margin: 5px 0;
    border-spacing: 0;

    .main-data {
      font-weight: 700;
    }

    td {
      padding: 10px 5px 6px;
      border-bottom: 1px solid lightgray;
    }
  }

  .description {
    text-align: left;
    margin: 10px 12px;
    max-height: 75px;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 1s;

    &.expand {
      max-height: none;
      margin-bottom: 40px;
      transition: max-height 1s;
    }
  }

  .expand-button {
    margin-top: -30px;

    button {
      border-radius: 20px;
    }
  }
}

.estate-map {
  margin: 20px 20px 10px 10px;
}

.action-buttons {
  text-align: right;
}

app-estate-gallery {
  display: flex;
  flex-basis: 100%;
}

@media (min-width: 700px) {
  .estate-data {
    flex-basis: 45%;
  }

  app-estate-gallery {
    flex-basis: 55%;
  }
}
