<button mat-button (click)="markAllSeen()" *ngIf="user && areUnseenEstates" class="mark-all-seen">
  Mind megnézettnek jelöl
</button>
<div class="o-container" #estateContainer>
  <div *ngFor="let row of estatesForRender" class="o-row">
    <div *ngFor="let estate of row" class="o-column xs--12 sm--4">
      <app-estate [estate]="estate"></app-estate>
    </div>
  </div>
</div>
<mat-spinner *ngIf="!exhausted && enableLoading" class="loading-spinner"
             in-viewport (inViewportAction)="loadMoreEstates($event)" [inViewportOptions]="{ partial: false }">
</mat-spinner>
<p *ngIf="exhausted">Nem található több ingatlan a feedben!</p>
