<div class="section item-page" *ngIf="estate" [class.seen]="estate.isSeen && !estate.favourite">
  <div class="o-container">
    <div class="o-row">
      <div class="o-column xs--12 sm--7">
        <h2>
          {{ estate.district }}. kerület{{ estate.address ? ', ' + estate.address : '' }}
          <a routerLink="/estate/{{ estate.id }}"><i class="material-icons">link</i></a>
        </h2>
      </div>
      <div class="o-column xs--12 sm--5">
        <p class="subheading">{{ estate.source }}, frissítve: {{ estate.updated.toLocaleDateString('hu-HU') }}</p>
      </div>
    </div>
    <div class="o-row bottom-margin--4rem">
      <div class="o-column xs--12 sm--7">
        <div class="images c-card">
          <app-estate-gallery *ngIf="estate.images.length" [images]="estate.images"></app-estate-gallery>
        </div>
      </div>
      <div class="o-column xs--12 sm--5">
        <div class="container--map u-flex u-align--center u-justify--center c-card">
          <app-estate-map [estate]="estate" class="estate-map"></app-estate-map>
        </div>
      </div>
    </div>
    <div class="o-row">
      <div class="o-column xs--12 sm--7">
        <div class="description">
          <h3>Leírás</h3>
          <p [innerHtml]="estate.descriptionHtml"></p>
        </div>
      </div>
      <div class="o-column xs--12 sm--5">
        <div class="list">
          <h3>Tulajdonságok</h3>
          <div class="c-card">
            <table>
              <tbody>
              <tr>
                <td>{{ estate.price | number:'.0-0' }} Ft</td>
                <td>{{ estate.squareMeterPrice | number:'.0-0' }} Ft/m<sup>2</sup></td>
              </tr>
              <tr>
                <td>{{ estate.size }} m<sup>2</sup></td>
                <td>
                  {{ estate.rooms }} szoba<span *ngIf="estate.halfrooms">, {{ estate.halfrooms }} félszoba</span>
                </td>
              </tr>
              <tr *ngIf="estate.balcony !== null">
                <td>Erkély:</td>
                <td>{{ estate.balcony }} m<sup>2</sup></td>
              </tr>
              <tr *ngIf="estate.heating !== null">
                <td>Fűtés:</td>
                <td>{{ estate.heating }}</td>
              </tr>
              <tr *ngIf="estate.floor !== null">
                <td>Emelet:</td>
                <td>{{ estate.floor === 0 ? 'földszint' : estate.floor }}</td>
              </tr>
              <tr *ngIf="estate.elevator !== null">
                <td>Lift:</td>
                <td>{{ estate.elevator ? 'van' : 'nincs' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="buttons">
          <button mat-button (click)="toggleFavourite()" *ngIf="user">
            {{ estate.favourite ? 'Kedvencnek jelölve' : 'Kedvencnek jelöl' }}
          </button>
          <button mat-button (click)="toggleSeen()" *ngIf="user">
            {{ estate.isSeen ? 'Megnézve' : 'Megnézettnek jelöl' }}
          </button>
          <a mat-button href="{{ estate.url }}" target="_blank" rel="noreferrer">Megnyitás</a>
        </div>
      </div>
    </div>
  </div>
</div>

<p *ngIf="!estate" class="error">Ingatlan nem található!</p>
