.item-page {
  margin-bottom: 20px;

  .o-container {
    position: static;
  }

  h2 {
    margin: 1.2rem 1rem 0.8rem;
  }

  .subheading {
    margin: 1.2rem 1rem 0.8rem;
    padding-top: 12px;
    text-align: right;
  }

  .images.c-card {
    position: static;

    app-estate-gallery {
      height: 400px;
    }

    @media (max-width: 500px) {
      app-estate-gallery {
        height: 300px;
      }
    }
  }

  .container--map {
    height: 100%;
    width: 100%;
    background: #F8F8F8;
  }

  .description,
  .list {
    font-size: 1rem;
    letter-spacing: .03rem;
    line-height: 1.5;

    h3 {
      margin-bottom: 12px;
      font-weight: 600;
      color: #252424;
    }

    .c-card {
      padding: 12px 0;
    }
  }

  .buttons {
    text-align: right;
    margin: 1rem 0;
  }
}

.bottom-margin--4rem {
  margin-bottom: 4rem;
}
