<nav *ngIf="user">
  <h3>Ingatlanok</h3>
  <ul class="nav-list">
    <li>
      <a routerLink="/">Ingatlan lista</a>
    </li>
    <li>
      <a (click)="openFiltersSidenav()">Szűrők</a>
    </li>
  </ul>
</nav>
<nav>
  <h3>Felhasználó</h3>
  <ul class="nav-list">
    <li>
      <a routerLink="/user/register" *ngIf="!user">Regisztráció</a>
    </li>
    <li>
      <a routerLink="/user/login" *ngIf="!user">Bejelentkezés</a>
    </li>
    <li>
      <a (click)="logout()" *ngIf="user">Kijelentkezés ({{ user.username }})</a>
    </li>
  </ul>
</nav>
<nav>
  <h3>Segítség</h3>
  <ul class="nav-list">
    <li>
      <a routerLink="/about">Névjegy</a>
    </li>
  </ul>
</nav>
