<nav>
  <h3>Ingatlanok</h3>
  <ul class="nav-list">
    <li>
      <a routerLink="/">Ingatlan lista</a>
    </li>
    <li *ngIf="user">
      <a (click)="openFiltersSidenav()">Szűrők</a>
    </li>
    <li class="rss">
      <a rel="alternate" type="application/rss+xml" href="/rss{{ user ? '/' + user.id : '' }}" target="_blank">
        RSS feed <mat-icon aria-label="Menu">rss_feed</mat-icon>
      </a>
    </li>
  </ul>
</nav>
<nav>
  <h3>Segítség</h3>
  <ul class="nav-list">
    <li>
      <a routerLink="/about">Névjegy</a>
    </li>
    <li>
      <a routerLink="/about/privacy-policy">Adatvédelmi szabályzat (angol)</a>
    </li>
    <li>
      <a routerLink="/about/terms-and-conditions">Általános szerződési feltételek (angol)</a>
    </li>
  </ul>
</nav>
