mat-sidenav {
  width: 400px;
  z-index: 9999;
}

.container {
  overflow-y: auto;
  display: flex;
  flex: 1 1 auto;
}

mat-sidenav-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

.page-content {
  height: 100%;
  overflow: auto;
  display: block;
}

app-navbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: relative;
  width: 100%;
  z-index: 10000;
}

app-footer {
  max-height: 40px;
  transition: max-height 1s;

  &.hidden {
    max-height: 0;
    transition: max-height 1s;
  }
}
