mat-sidenav {
  max-width: 90%;
}

.sidenav-menu {
  width: 300px;
  z-index: 500;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.sidenav-filter {
  width: 400px;
  z-index: 999;
}

.container {
  overflow-y: auto;
  display: flex;
  flex: 1 1 auto;
}

mat-sidenav-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

app-sidenav-filter {
  text-align: center;
}

.page-content {
  height: 100%;
  overflow: auto;
  display: block;
}

app-navbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: relative;
  width: 100%;
  z-index: 1000;
}

app-usermenu-dropdown {
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.3), 0 12px 20px 0 rgba(0, 0, 0, 0.21), 0 2px 36px 0 rgba(0, 0, 0, 0.18);
  position: fixed;
  right: 20px;
  top: 60px;
  max-width: 330px;
  z-index: 2000;
  background-color: white;
}

app-footer {
  max-height: 40px;
  transition: max-height 1s;

  &.hidden {
    max-height: 0;
    transition: max-height 1s;
  }
}
