app-usermenu-navicon {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
  color: hsla(0, 0%, 100%, .87);

  h1 {
    margin: 5px;
    font-size: 1.5em;

    a {
      color: hsla(0, 0%, 100%, .87);
    }
  }
}

@media (min-width: 700px) {
  .navbar h1 {
    font-size: 2em;
  }
}
