<p class="filter-name">
  {{ filter.field | estateAttributeDisplay }}
</p>
<div class="flex-spacer"></div>
<button mat-icon-button color="secondary" (click)="removeFilter()" matTooltip="Szűrő törlése">
  <mat-icon aria-label="Remove">remove</mat-icon>
</button>
<app-filter-boolean *ngIf="isBooleanFilter()" [filter]="filter" (change)="changed()" class="filter-type"></app-filter-boolean>
<app-filter-interval *ngIf="isIntervalFilter()" [filter]="filter" (change)="changed()" class="filter-type"></app-filter-interval>
<app-filter-multiselect *ngIf="isMultiselectFilter()" [filter]="filter" (change)="changed()" class="filter-type"></app-filter-multiselect>
<app-filter-string *ngIf="isStringFilter()" [filter]="filter" (change)="changed()" class="filter-type"></app-filter-string>
