<div mat-dialog-content>
  <form #loginForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="E-mail cím" type="email" required [formControl]="username"
             [(ngModel)]="data.username" (keyup.enter)="onSubmit()"/>
      <mat-error *ngIf="username.invalid">E-mail cím megadása kötelező!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Jelszó" type="password" required [formControl]="password"
             [(ngModel)]="data.password" (keyup.enter)="onSubmit()"/>
      <mat-error *ngIf="password.invalid">Jelszó megadása kötelező!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Jelszó megerősítés" type="password" required [formControl]="password2"
             [(ngModel)]="data.password2" (keyup.enter)="onSubmit()"/>
      <mat-error *ngIf="password2.invalid && password2.hasError('required')">Jelszó megerősítés megadása kötelező!</mat-error>
      <mat-error *ngIf="password2.invalid && password2.hasError('match')">Jelszó megerősítés nem azonos a jelszóval!</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="flex-spacer"></div>
  <button mat-button (click)="onCancel()">Mégsem</button>
  <button mat-button mat-raised-button color="primary" [disabled]="username.invalid || password.invalid || password2.invalid" (click)="onSubmit()">
    Regisztráció
  </button>
</div>
