//********************
// Font Weight
//********************

.u-font--100 {
  font-weight:100!important;
}

.u-font--300 {
  font-weight:300!important;
}

.u-font--400 {
  font-weight:400!important;
}

.u-font--500 {
  font-weight:500!important;
}

.u-font--600 {
  font-weight:600!important;
}

.u-font--700 {
  font-weight:700!important;
}