//************
// Grid Helpers
//************

.u-hidden--xs {
  @media (max-width: 640px){
    display: none !important;
  }
}

.u-visible--xs {
  @media (max-width: 640px){
    display: block !important;
  }
}

.u-hidden--sm {
  @media (min-width: 640px) and (max-width: 768px) {
    display: none !important;
  }
}

.u-visible--sm {
  @media (min-width: 640px) and (max-width: 768px) {
    display: block !important;
  }
}

.u-hidden--md {
  @media (min-width: 768px) and (max-width: 990px) {
    display: none !important;
  }
}

.u-visible--md {
  @media (min-width: 768px) and (max-width: 990px) {
    display: block !important;
  }
}

.u-visible-sm-and-down {
  @media (max-width: 989px) {
    display: block !important;
  }
}

.u-hidden-sm-and-down {
  @media (max-width: 989px) {
    display: none !important;
  }
}

.u-visible-sm-and-up {
  @media (min-width: 768px) {
    display: block !important;
  }
}

.u-hidden-sm-and-up {
  @media (min-width: 768px) {
    display: none !important;
  }
}
///
.u-visible-md-and-down {
  @media (max-width: 989px) {
    display: block !important;
  }
}

.u-hidden-md-and-down {
  @media (max-width: 989px) {
    display: none !important;
  }
}

.u-visible-md-and-up {
  @media (min-width: 989px) {
    display: block !important;
  }
}

.u-hidden-md-and-up {
  @media (min-width: 989px) {
    display: none !important;
  }
}