<div class="about">
  <h2>Hogyan működik?</h2>
  <p>
    Ezen az oldalon több ingatlankereső oldal találatai találhatóak.
    Az újonnan meghirdetett ingatlanok a lista elejére kerülnek, a régieket alatta helyezkednek el.
    A releváns ingatlanokra való szűrésre regisztráció után van lehetőség.
    A szűrőket az oldal eltárolja, majd annak megfelelően küldi ki az értesítéseket új ingatlanokról.
  </p>
  <h3>Szűrés</h3>
  <p>
    A hozzáadott szűrőfeltételek egy csoportot alkotnak.
    Csoporton belül a szűrőfeltétlek mindegyikének meg kell feleljen az ingatlan a listázáshoz (kivéve, ha az ellenőrzés
    nem szigorú).
    További csoportok felvételével újabb szűrési feltétlek adhatóak meg. Ha a csoportok bármelyikére illeszkedik
    ingatlan, az megjelenik a listában.
  </p>
  <ul>
    <li>Csoportok maximális száma: <strong>5</strong></li>
    <li>Feltételek maximális száma csoportonként: <strong>10</strong></li>
  </ul>
  <h3>Működési paraméterek</h3>
  <ul>
    <li>Frissítési gyakoriság: <strong>naponta</strong></li>
    <li>Értesítés új ingatlanról: <strong>percenként</strong></li>
  </ul>
  <h2>Feltételek</h2>
  <p>
    Az oldal üzemeltetője nem vállal felelősséget az értesítések kiküldésében beálló zavarokért.
    Az oldal üzemeltetője nem áll kapcsolatban a figyelt oldalakkal.
  </p>
</div>
