.container {
  padding: 20px 5%;
}

h1 {
  margin: 10px 20px;
  text-align: center;
}

h2 {
  margin: 20px 20px 8px;
}

h3 {
  margin: 15px 15px 5px;
}

h4 {
  margin: 12px 10px 4px;
}

ul {
  margin: 10px 0 10px 10px;
}

li {
  margin: 2px;
}

p {
  margin-bottom: 1em;
}
