<div class="container">
  <h1>Terms and Conditions ("Terms")</h1>


  <p>Last updated: May 26, 2018</p>


  <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the
    ingatlanfigyelo.eu website (the "Service") operated by Ingatlanfigyelő ("us", "we", or "our").</p>

  <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These
    Terms apply to all visitors, users and others who access or use the Service.</p>

  <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms
    then you may not access the Service. This Terms and Conditions agreement for Ingatlanfigyelő is powered by <a
      href="https://termsfeed.com/">TermsFeed</a>.</p>


  <h2>Accounts</h2>

  <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all
    times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account
    on our Service.</p>

  <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or
    actions under your password, whether your password is with our Service or a third-party service.</p>

  <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of
    any breach of security or unauthorized use of your account.</p>


  <h2>Links To Other Web Sites</h2>

  <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by
    Ingatlanfigyelő.</p>

  <p>Ingatlanfigyelő has no control over, and assumes no responsibility for, the content, privacy policies, or practices
    of any third party web sites or services. You further acknowledge and agree that Ingatlanfigyelő shall not be
    responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in
    connection with use of or reliance on any such content, goods or services available on or through any such web sites
    or services.</p>

  <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or
    services that you visit.</p>


  <h2>Termination</h2>

  <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach the Terms.</p>

  <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including,
    without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

  <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever,
    including without limitation if you breach the Terms.</p>

  <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you
    may simply discontinue using the Service.</p>

  <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including,
    without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


  <h2>Governing Law</h2>

  <p>These Terms shall be governed and construed in accordance with the laws of Hungary, without regard to its conflict
    of law provisions.</p>

  <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If
    any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these
    Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and
    supersede and replace any prior agreements we might have between us regarding the Service.</p>


  <h2>Changes</h2>

  <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
    material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a
    material change will be determined at our sole discretion.</p>

  <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the
    revised terms. If you do not agree to the new terms, please stop using the Service.</p>


  <h2>WARRANTY DISCLAIMER</h2>

  <p>YOU USE THE SITE AND THE SERVICES AT YOUR OWN RISK. THE SITE AND THE SERVICES ARE PROVIDED ON AN “AS IS, AS
    AVAILABLE” BASIS. INGATLANFIGYELŐ EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTIES OF MERCHANTABILITY,
    TITLE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. INGATLANFIGYELŐ DISCLAIMS ALL RESPONSIBILITY FOR ANY
    LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF ANY KIND RESULTING FROM, ARISING OUT OF OR IN ANY WAY RELATED TO (A)
    ANY ERRORS IN OR OMISSIONS FROM THIS SITE AND THE SERVICES, INCLUDING, BUT NOT LIMITED TO, TECHNICAL INACCURACIES
    AND TYPOGRAPHICAL ERRORS, (B) THIRD PARTY COMMUNICATIONS, (C) ANY THIRD PARTY WEBSITES OR CONTENT DIRECTLY OR
    INDIRECTLY ACCESSED THROUGH LINKS IN THE SITE, INCLUDING BUT NOT LIMITED TO ANY ERRORS OR OMISSIONS, (D) THE
    UNAVAILABILITY OF ALL OR ANY PART OF THE SITE OR THE SERVICES, (E) YOUR USE OF THE SITE OR THE SERVICES, OR (F) YOUR
    USE OF ANY EQUIPMENT OR SOFTWARE IN CONNECTION WITH THE SITE OR THE SERVICES.</p>


  <h2>LIMITATION OF LIABILITY</h2>

  <p>EXCEPT AS OTHERWISE PROVIDED BY LAW, NEITHER INGATLANFIGYELŐ NOR ANY OF ITS AFFILIATES, PARENTS, SUBSIDIARIES,
    DIRECTORS, SHAREHOLDERS, EMPLOYEES OR AGENTS SHALL BE LIABLE FOR ANY LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF
    ANY KIND RESULTING FROM YOUR USE OF THE SITE, ANY FACTS OR OPINIONS APPEARING THEREON, OR THE SERVICES.
    INGATLANFIGYELŐ SHALL NOT BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES
    OF ANY KIND WHATSOEVER (INCLUDING, WITHOUT LIMITATION, ATTORNEYS’ FEES) IN ANY WAY DUE TO, RESULTING FROM, OR
    ARISING IN CONNECTION WITH THE USE OF OR INABILITY TO USE THE SITE OR SERVICES. TO THE EXTENT THE FOREGOING
    LIMITATION OF LIABILITY IS PROHIBITED OR FAILS OF ITS ESSENTIAL PURPOSE, INGATLANFIGYELŐ’S SOLE OBLIGATION TO YOU
    FOR DAMAGES SHALL BE LIMITED TO US$10.00.</p>

  <p>YOU AND INGATLANFIGYELŐ AGREE THAT ANY PROCEEDINGS TO RESOLVE OR LITIGATE ANY DISPUTE ARISING HEREUNDER WILL BE
    CONDUCTED SOLELY ON AN INDIVIDUAL BASIS, AND THAT YOU WILL NOT SEEK TO HAVE ANY DISPUTE HEARD AS A CLASS ACTION, A
    REPRESENTATIVE ACTION, A COLLECTIVE ACTION, A PRIVATE ATTORNEY-GENERAL ACTION, OR IN ANY PROCEEDING IN WHICH YOU ACT
    OR PROPOSE TO ACT IN A REPRESENTATIVE CAPACITY. YOU FURTHER AGREE THAT NO PROCEEDING WILL BE JOINED, CONSOLIDATED,
    OR COMBINED WITH ANOTHER PROCEEDING WITHOUT THE PRIOR WRITTEN CONSENT OF INGATLANFIGYELŐ AND ALL PARTIES TO ANY SUCH
    PROCEEDING.</p>


  <h2>Contact Us</h2>

  <p>If you have any questions about these Terms, please contact us.</p>
</div>
