<mat-card>
  <div class="card-remove">
    <div class="flex-spacer"></div>
    <button mat-icon-button color="secondary" (click)="removeGroup()" matTooltip="Csoport törlése">
      <mat-icon aria-label="Remove">remove</mat-icon>
    </button>
  </div>
  <mat-card-content class="filters">
    <app-filter *ngFor="let filter of filters.filters" [filter]="filter" (remove)="removeFilter($event)" (change)="changed()"></app-filter>
  </mat-card-content>
  <mat-form-field *ngIf="filters.filters.length < 10">
    <mat-select placeholder="Mező" [(ngModel)]="selected">
      <mat-option *ngFor="let attribute of attributes" [value]="attribute">{{ attribute | estateAttributeDisplay }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button *ngIf="filters.filters.length < 10" color="secondary" (click)="addFilter()" matTooltip="Szűrő hozzáadása">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</mat-card>
