<div class="login">
  <h2>Elfelejtett jelszó</h2>
  <form #forgottenPasswordForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="E-mail cím" type="email" required [formControl]="username" (keyup.enter)="send()"/>
      <mat-error *ngIf="username.invalid">E-mail cím megadása kötelező!</mat-error>
    </mat-form-field>
  </form>
  <button mat-button mat-raised-button color="primary" [disabled]="username.invalid" (click)="send()">
    Új jelszó beállítás kérése
  </button>
</div>
