<div class="reset-password">
  <h2>Jelszó helyreállítása</h2>
  <form #resetPasswordForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Jelszó" type="password" required [formControl]="password" (keyup.enter)="register()"/>
      <mat-error *ngIf="password.invalid">Jelszó megadása kötelező!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Jelszó megerősítés" type="password" required [formControl]="password2" (keyup.enter)="register()"/>
      <mat-error *ngIf="password2.invalid && password2.hasError('required')">Jelszó megerősítés megadása kötelező!</mat-error>
      <mat-error *ngIf="password2.invalid && password2.hasError('match')">Jelszó megerősítés nem azonos a jelszóval!</mat-error>
    </mat-form-field>
  </form>
  <button mat-button mat-raised-button color="primary" (click)="reset()"
          [disabled]="password.invalid || password2.invalid">
    Jelszó megváltoztatása
  </button>
</div>
