@import "~normalize.css/normalize";

// Utilities
@import 'scss/utilities/box-sizing.utility';
@import 'scss/utilities/flex.utility';
@import 'scss/utilities/font-weight.utility';
@import 'scss/utilities/normalize.utility';
@import 'scss/utilities/reset.utility';
@import 'scss/utilities/text-align.utility';
@import 'scss/utilities/visibility.utility';

// Objects
@import 'scss/objects/containers.object';
@import 'scss/objects/grid.object';
@import 'scss/objects/item-block.object';
@import 'scss/objects/media.object';

// Components
@import 'scss/components/button.component';
@import 'scss/components/card.component';
@import 'scss/components/dropdown.component';
@import 'scss/components/navigations.component';

// Elements
@import 'scss/elements/forms.element';
@import 'scss/elements/headings.element';
@import 'scss/elements/image.element';
@import 'scss/elements/list.element';
@import 'scss/elements/tables';
@import 'scss/elements/text.element';

// Designs
@import 'scss/design/buttons';
@import 'scss/design/card.design';
@import 'scss/design/forms.design';
@import 'scss/design/dropdown.design';
@import 'scss/design/item-block.design';
@import 'scss/design/label';
@import 'scss/design/list.design';
@import 'scss/design/navigation.design';
@import 'scss/design/shadows';

// Colors
@import "scss/variables";

@import "~@angular/material/prebuilt-themes/deeppurple-amber";

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #FFFFFF;
  color: #616161;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

app-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

.cdk-overlay-container {
  z-index: 10000;
}

tag-input {
  tag-input-form {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
