@import "~normalize.css/normalize";
@import "~@angular/material/prebuilt-themes/deeppurple-amber";

body {
  text-align: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

app-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

.cdk-overlay-container {
  z-index: 10000;
}

tag-input {
  tag-input-form {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
