[Service]
ExecStart=/usr/bin/npm run start-polling
WorkingDirectory=/srv/ingatlanfigyelo
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ingatlanfigyelo-polling
User=ingatlanfigyelo
Group=ingatlanfigyelo
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
